.grid{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  height: 50px;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  color: white;
}



.logo{
    margin-left: .5rem;
  }

.links, .mobile_links{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: auto;
  justify-content: space-around;
  width: 90%;

}

.link{
  transition: all 0.4s ease;
  
}



.link:hover{
  color: rgb(212, 249, 255);
  
}

.menu{
  height: 2px;
  width: 15px;
  display: block;
  background-color: white;
}

.menu::before{
  content: '';
  height: 2px;
  width: 25px;
  margin-top: .4rem;
  display: block;
  background-color: white;

}




.menu_icon{
  display: none;
  
}




@media screen and (max-width:1200px) {
  .grid{
    justify-content: space-between;
  }
  .logo{
    margin-left: 1rem;
  }
  
}

@media screen and (max-width:1000px) {
  .link{
    font-size: 1rem;
  }

}

@media screen and (max-width:750px) {

  .menu{
    display: none;
  }
  .mobile_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
   height: 50vh;
    z-index: 10;
    animation: link .5s ease;
        background:linear-gradient(to right bottom, rgba(0,0,0,0.9), rgba(0,0,0,1));

  }

  .mobile_links>.link{
    font-size: x-large;
    margin-bottom: 2rem;
  }

 
  .menu_icon{
    display: block;
    margin-left: 1rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    right: 0;
    z-index: 20;
  }

  .menu_icon:hover{
    transform: scaleX(1.1);
    
  }

  .links{
    display: none;
  }

}

@keyframes link {
    0%{
      transform: translateX(-50%);
    }
}

